.choices__wheel {
    color: blue;
}

.paintDropDown {
    color: blue;
}
.selectionButton {
    margin:20px;
}

.choices__paint {
    color: violet;
}
.choices__interior {
    color: purple;
}
.choices__technologies {
    color: cyan;
}
.dropDownWheel {
    color: aquamarine;
}